.container {
  padding: 0 60px;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.container:nth-child(2n) {
  flex-direction: row-reverse;
}

.image {
  object-fit: cover;
}



.title {
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  color: #999;
}
